@media screen and (max-width: 767px) {
  html {
    font-size: 14px; }
  .header .menu {
    position: absolute;
    background: #382d5c; }
  .story img {
    margin: 0;
    float: none; }
  .story__our:before {
    content: '';
    clear: both;
    display: block; }
  .works--fl-none {
    float: none !important; }
  .jane__carusel img {
    width: 10%; }
  .jane__carusel img:nth-child(3) {
    width: 15%; }
  .jane__carusel a img {
    width: 3%; }
  .partners__form {
    margin-bottom: 2rem; }
  .footer ul li {
    display: inline-block; }
  .footer ul li:first-child {
    margin-left: 15px; }
  .footer__subscribe {
    height: 4rem;
    font-size: 1.5rem;
    width: 70%;
    float: left;
    margin-right: 0.5rem; }
  .footer__button {
    width: 4rem;
    height: 4rem; }
  .copyright {
    width: 100%; } }

@media screen and (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 12px; } }

@media screen and (min-width: 992px) and (max-width: 1199px) {
  html {
    font-size: 14px; } }

@media screen and (min-width: 1200px) and (max-width: 1599px) {
  html {
    font-size: 20px; } }

@media screen and (min-width: 1600px) and (max-width: 1899px) {
  html {
    font-size: 25px; } }

@media screen and (min-width: 1900px) and (max-width: 2499px) {
  html {
    font-size: 30px; } }

@media screen and (min-width: 2500px) and (max-width: 4999px) {
  html {
    font-size: 40px; } }

@media screen and (min-width: 5000px) {
  html {
    font-size: 80px; } }
