@font-face 
	font-family: "glyphicons-halflings-regular"
	src: url('../fonts/glyphicons-halflings-regular.eot')
	src: url('../fonts/glyphicons-halflings-regular.svg') format('svg')
	src: url('../fonts/glyphicons-halflings-regular.ttf') format('truetype')
	src: url('../fonts/glyphicons-halflings-regular.woff') format('woff')
	src: url('../fonts/glyphicons-halflings-regular.woff2') format('woff2')
	